name: ubuntu-home-server

networks:
  traefik-proxy:
    name: traefik-proxy
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16

# Include the individual docker compose files for each service
# TODO: Create a script that auto generates the include paths
include:
  # Infrastructure
  - $INFRASTRUCTURE_DIR/traefik.yaml # Domain routing reverse proxy and certificate manager
  # - $INFRASTRUCTURE_DIR/portainer.yaml # Docker management UI
  # - $INFRASTRUCTURE_DIR/checkmate.yaml # Uptime monitoring
  # - $INFRASTRUCTURE_DIR/uptimekuma.yaml # Uptime monitoring
  # - $INFRASTRUCTURE_DIR/watchtower.yaml # Automatic docker container updates
  # https://github.com/BigBoot/AutoKuma
  # https://dozzle.dev/
  # https://docs.doppler.com/docs/start
  # https://github.com/steveiliop56/tinyauth

  # Observability
  # Grafana
  # Loki

  # IoT
  # - $IOT_DIR/homeassistant.yaml
  # - $IOT_DIR/music-assistant.yaml
  # - $IOT_DIR/matter-server.yaml
  # - $IOT_DIR/mosquitto.yaml
  # - $IOT_DIR/zigbee2mqtt.yaml

  # Applications
  # - $APPLICATIONS_DIR/homarr.yaml
  # - $APPLICATIONS_DIR/homebox.yaml
  # - $APPLICATIONS_DIR/hoarder.yaml
  # - $APPLICATIONS_DIR/immich.yaml
  # https://help.penpot.app/technical-guide/getting-started/#install-with-docker
  # https://github.com/usememos/memos
  # https://github.com/outline/outline
  # https://github.com/open-webui/open-webui