# Traefik handles the reverse proxy and certificates validation.
secrets:
  vercel_api_token:
    file: $DOCKER_SECRETS_DIR/vercel_api_token
  vercel_team_id:
    file: $DOCKER_SECRETS_DIR/vercel_team_id

services:
  traefik:
    container_name: traefik
    image: docker.io/library/traefik:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      VERCEL_API_TOKEN: /run/secrets/vercel_api_token
      VERCEL_TEAM_ID: /run/secrets/vercel_team_id
    secrets:
      - vercel_api_token
      - vercel_team_id
    volumes:
      # Docker Network access.
      # * :ro - Read Only.
      - $DOCKER_SOCK_DIR:ro
      
      # Local Time.
      # * :rw - Read and Only.
      - $DOCKER_LOCAL_DIR

      # Configuration file.
      # * :ro - Read Only.
      - $DOCKER_CONFIG_DIR/traefik/config.yaml:/etc/traefik/traefik.yaml:ro
      
      # LetsEncrypt persistant data.
      # * :rw - Read and Write.
      - $DOCKER_DATA_DIR/letsencrypt:/letsencrypt:rw

      # Logs.
      # * :rw - Read and Write.
      - $DOCKER_LOGS_DIR/traefik:/var/log/traefik:rw
    network_mode: host
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.traefik-router.rule=Host(`traefik.homeserver.lukan.rocks`)
      - traefik.http.routers.traefik-router.entrypoints=web,websecure
      - traefik.http.routers.traefik-router.tls=true
      - traefik.http.routers.traefik-router.tls.certresolver=letsencrypt
      - traefik.http.routers.traefik-router.service=api@internal
      - traefik.http.services.api@internal.loadbalancer.server.port=8080
